<!DOCTYPE html>
<html lang="en">
<head>
  <title>House prediction with Machine Learning Model</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h3>House price prediction</h3>
    <p>Insert the number of rooms and distance(km):</p>
    <form action="{{url_for('predict')}}" method="post">
      <input type="text" name="rooms" placeholder="Rooms" required="required">
      <input type="text" name="distance" placeholder="Distance" required="required">
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict value!</button>
    </form>
    <br>
    <br>
    <b>{{prediction_text}}</b>
</div>
</body>
</html>
